<div style="z-index: 10;" id="footer">
    <div id="includes">
        <footer>
            <div class="footer-container">
                <p>2024 © SAC Website</p>
                <div class="footer-links">
                    <a href="/terms-of-service">Terms of Service</a>
                    <a href="/privacy-policy">Privacy Policy</a>
                </div>
            </div>
        </footer>
    
    </div>
</div>