<footer>
    <p id="footer">
        <img id = "logoBottom" src="assets\globe.png" alt="SAC Logo">
        <div>
            <h1 id="copyright">2024 © SAC Website</h1>
            <p id="TandP">Terms of service</p>
            <p id="TandP">Privacy policy</p>
        </div>
    </p>
</footer>