<div id="includes">
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/dark-mode.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
    <script src="/js/dark-mode.js" defer></script>
    <script src="/js/global-functions.js"></script>
    <script src="/js/header.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <header>
        <div class="header-container">
            <div class="logo">
                <!-- <div id="titleGlobe"><img id = "globeLogo" src="assets/globeLogo.jpg" alt="Website logo"></div> -->
                <a id = "title" href="/"><span><strong>SAC Website</strong></span></a>
            </div>
            <nav class="nav-links">
                <a href="/">Home</a>
                <a href="/about-us">About Us</a>
                <a href="/faq">FAQ</a>
                <a href="/blogs">Blogs</a>

                <div class="dropdown">
                    <button class="dropbtn">Our Goals</button>
                    <div class="dropdown-content">
                        <a href="/goals/climate-change">Climate Action</a>
                        <a href="/goals/sustainable-cities">Sustainable Cities</a>
                        <a href="/goals/zero-hunger">Zero Hunger</a>
                    </div>
                </div>
            </nav>
            <div class="user-icons">
                <a href="javascript:void(0)"><i id="dark-mode-icon"></i></a>
                <a href="/profile" title="Settings"><i class="fas fa-cogs"></i></a>
                <% if (!loggedIn) { %>
                <a href="/signup" title="Sign Up"><i class="fas fa-user-plus"></i></a>
                <% } else { %>
                <a href="/logout" title="Logout" ><i class="fa-solid fa-right-from-bracket"></i></a>
                <% } %>

            </div>
        </div>
    </header>
    <a href="javascript:void(0)" id="sidebar-toggle"><i class="fa-solid fa-bars"></i></a>

</div>