<!DOCTYPE html>
<%- include("includes/header.ejs") %>
    <html id="aboutPage">

    <head>
        <title>About Us</title>
        <link rel='icon' type='image/x-icon' href=''>
        <link rel="stylesheet" href="css/about-us.css">
        <script src="js/about-us.js" defer></script>
    </head>

    <body>
        <div id="mainPage">
            <section id="container"> </section>
        </div>
    </body>

    </html>
    <%- include("includes/footer.ejs") %>