<!DOCTYPE html>
<html id = "aboutPage">
<head>
    <title>About Us</title>
    <link rel='icon' type='image/x-icon' href=''>
    <link rel="stylesheet" href="css/about-us.css">
    <script src="js/about-us.js" defer></script>
    <!-- <link rel="stylesheet" href='ourInfo.css'> -->
</head>
<body>
    <%- include("includes/header.ejs") %>
    <div id="mainPage">

        <section id="container">
            <!-- <h1>About Us</h1>
            <hr class="solid">
            <section id="bios">
                <article>
                    <h3>Aaron</h3>
                    <p>For this project, I contributed primarily to the design aspects, as I created the mood board using ideas we discussed. Ialso wrote the CSS for the ‘Goals’ pages and ensured that allother pages were cohesive. I coded the HTML for the ‘Our Info’page. I was well suited to design as I took media as part of my A levels. For organisation, I planned many of the meetings and created a Gantt chart.</p>
                </article>
                <article>
                    <h3>Harley</h3>
                    <p>For this project, I contributed primarily to the design aspects, as I created the mood board using ideas we discussed. Ialso wrote the CSS for the ‘Goals’ pages and ensured that allother pages were cohesive. I coded the HTML for the ‘Our Info’page. I was well suited to design as I took media as part of my A levels. For organisation, I planned many of the meetings and created a Gantt chart.</p>
                </article>
                <article>
                    <h3>Sophie</h3>
                    <p>For this project, I contributed primarily to the design aspects, as I created the mood board using ideas we discussed. Ialso wrote the CSS for the ‘Goals’ pages and ensured that allother pages were cohesive. I coded the HTML for the ‘Our Info’page. I was well suited to design as I took media as part of my A levels. For organisation, I planned many of the meetings and created a Gantt chart.</p>
                </article>
                <article>
                    <h3>Sylvain</h3>
                    <p>For this project, I contributed primarily to the design aspects, as I created the mood board using ideas we discussed. Ialso wrote the CSS for the ‘Goals’ pages and ensured that allother pages were cohesive. I coded the HTML for the ‘Our Info’page. I was well suited to design as I took media as part of my A levels. For organisation, I planned many of the meetings and created a Gantt chart.</p>
                </article>
            </section>
            <hr class="solid">
            <section id="taskTable">
                <h2>Who Did What</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Pages</th>
                            <th>HTML</th>
                            <th>CSS</th>
                            <th>JS/Node</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>Null</b></td>
                            <td>Null</td>
                            <td>Null</td>
                            <td>Null</td>
                        </tr>
                        <tr>
                            <td><b>Null</b></td>
                            <td>Null</td>
                            <td>Null</td>
                            <td>Null</td>
                        </tr>
                        <tr>
                            <td><b>Null</b></td>
                            <td>Null</td>
                            <td>Null</td>
                            <td>Null</td>
                        </tr>
                        <tr>
                            <td><b>Null</b></td>
                            <td>Null</td>
                            <td>Null</td>
                            <td>Null</td>
                        </tr>
                        <tr>
                            <td><b>Null</b></td>
                            <td>Null</td>
                            <td>Null</td>
                            <td>Null</td>
                        </tr>
                        <tr>
                            <td><b>Null</b></td>
                            <td>Null</td>
                            <td>Null</td>
                            <td>Null</td>
                        </tr>
                        <tr>
                            <td><b>Null</b></td>
                            <td>Null</td>
                            <td>Null</td>
                            <td>Null</td>
                        </tr>
                        <tr>
                            <td><b>Null</b></td>
                            <td>Null</td>
                            <td>Null</td>
                            <td>Null</td>
                        </tr>
                    </tbody>
                </table>

            </section> -->
        </section>
    </div>
</body>
</html>
<%- include("includes/footer.ejs") %> 
