<!DOCTYPE html>
<%- include("includes/header.ejs") %>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, intial-scale=1">
        <title>Zero Hunger</title>
        <meta name=" author" content=" Sylvain Bayonne, Sophie Rawlinson, Harley Hughes, Aaron Grant ">
        <meta name="keywords" content="Enviroment, hunger, sustainable cites">
        <link rel="stylesheet" href="css/faq.css">
    </head>
    <body>
      
        <div id="mainPage">
            <section id="container">
                <h1>FAQ</h1>
                <hr class="solid">
                <section id="bios">
                    <article>
                        <p><b>Question:</b> Lorem ipsum dolor sit amet. Vel reprehenderit voluptatum At dolores animi eos omnis voluptas est nulla veritatis et minus nostrum rem enim quis ea explicabo sequi</p>
                        <p><b>Answer:</b> Lorem ipsum dolor sit amet. Vel reprehenderit voluptatum At dolores animi eos omnis voluptas est nulla veritatis et minus nostrum rem enim quis ea explicabo sequi</p>
                    </article>
                    <article>
                        <p><b>Question:</b> Lorem ipsum dolor sit amet. Vel reprehenderit voluptatum At dolores animi eos omnis voluptas est nulla veritatis et minus nostrum rem enim quis ea explicabo sequi</p>
                        <p><b>Answer:</b> Lorem ipsum dolor sit amet. Vel reprehenderit voluptatum At dolores animi eos omnis voluptas est nulla veritatis et minus nostrum rem enim quis ea explicabo sequi</p>
                    </article>
                    <article>
                        <p><b>Question:</b> Lorem ipsum dolor sit amet. Vel reprehenderit voluptatum At dolores animi eos omnis voluptas est nulla veritatis et minus nostrum rem enim quis ea explicabo sequi</p>
                        <p><b>Answer:</b> Lorem ipsum dolor sit amet. Vel reprehenderit voluptatum At dolores animi eos omnis voluptas est nulla veritatis et minus nostrum rem enim quis ea explicabo sequi</p>
                    </article>
                    <article>
                        <p><b>Question:</b> Lorem ipsum dolor sit amet. Vel reprehenderit voluptatum At dolores animi eos omnis voluptas est nulla veritatis et minus nostrum rem enim quis ea explicabo sequi</p>
                        <p><b>Answer:</b> Lorem ipsum dolor sit amet. Vel reprehenderit voluptatum At dolores animi eos omnis voluptas est nulla veritatis et minus nostrum rem enim quis ea explicabo sequi</p>
                    </article>
                    <article>
                        <p><b>Question:</b> Lorem ipsum dolor sit amet. Vel reprehenderit voluptatum At dolores animi eos omnis voluptas est nulla veritatis et minus nostrum rem enim quis ea explicabo sequi</p>
                        <p><b>Answer:</b> Lorem ipsum dolor sit amet. Vel reprehenderit voluptatum At dolores animi eos omnis voluptas est nulla veritatis et minus nostrum rem enim quis ea explicabo sequi</p>
                    </article>
                    <article>
                        <p><b>Question:</b> Lorem ipsum dolor sit amet. Vel reprehenderit voluptatum At dolores animi eos omnis voluptas est nulla veritatis et minus nostrum rem enim quis ea explicabo sequi</p>
                        <p><b>Answer:</b> Lorem ipsum dolor sit amet. Vel reprehenderit voluptatum At dolores animi eos omnis voluptas est nulla veritatis et minus nostrum rem enim quis ea explicabo sequi</p>
                    </article>
                </section>
            </section>

        </div>
    
    </body>

</html>

<%- include("includes/footer.ejs") %>