<%- include("includes/header.ejs") %>

<div id="mainPage">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="js/dark-mode.js" defer></script>
    <script src="js/global-functions.js"></script>
    <script src="js/main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <body>
        <div id="carousel">
            <div id="carouselIn">
                <div id="slide"><img id = "globe" src="assets/globe.jpg" alt="Globe"></div>
                <div id="slide"><img id = "plant" src="assets/handsWithPlant.jpg" alt="Hands with plant"></div>
                <div id="slide"><img id = "handGlobe" src="assets/handsWithGlobe.jpg" alt="Hands with globe"></div>
            </div>
            <button id="previous">&#10094;</button>
            <button id="next">&#10095;</button>
        </div>
    </body>
</div>

<%- include("includes/footer.ejs") %>