<%- include("includes/header.ejs") %>

<div id="mainPage">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/dark-mode.js" defer></script>
    <script src="js/global-functions.js"></script>
    <script src="js/main.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <body>
        <section id="container">
            <section id="carousel">
                <button id="previous"><i class="fa-solid fa-arrow-left"></i></button>
                <div id="carouselIn">
                    <div id="slide" class="firstSlide"><img id = "globe" src="assets/globe.jpg" alt="Globe"></div>
                    <div id="slide"><img id = "plant" src="assets/handsWithPlant.jpg" alt="Hands with plant"></div>
                    <div id="slide"><img id = "handGlobe" src="assets/handsWithGlobe.jpg" alt="Hands with globe"></div>
                    <div id="slide"><img id = "plant" src="assets/handsWithPlant.jpg" alt="Hands with plant"></div>
                    <div id="slide"><img id = "handGlobe" src="assets/handsWithGlobe.jpg" alt="Hands with globe"></div>
                    <div id="slide"><img id = "globe" src="assets/globe.jpg" alt="Globe"></div>
                    <div id="slide"><img id = "plant" src="assets/handsWithPlant.jpg" alt="Hands with plant"></div>
                    <div id="slide"><img id = "handGlobe" src="assets/handsWithGlobe.jpg" alt="Hands with globe"></div>
                    <div id="slide"><img id = "globe" src="assets/globe.jpg" alt="Globe"></div>
                </div>
                <button id="next"><i class="fa-solid fa-arrow-right"></i></button>
            </section>
            <section id="goals">
                <article id="climate-change">
                </article>
                <article id="zero-hunger">
                </article>
                <article id="sustainable-cities">
                </article>
            </section>
        </section>
    </body>
</div>

<%- include("includes/footer.ejs") %>