<!DOCTYPE html>
<head>
    <title>About Us</title>
    <link rel='icon' type='image/x-icon' href=''>
    <link rel="stylesheet" href="css/zeroHunger.css">
    <!-- <link rel="stylesheet" href='ourInfo.css'> -->
</head>
<body>
    <%- include("includes/header.ejs") %> 
    <section id = 'aboutUs'>
        <h1>About Us</h1>
    </section>
    
    <section class = 'info'>
        <section class = 'name'> <!-- Green, round the top corners but not the bottom ones, refer to mood board -->
            <p>Sylvain</p>
            </section>
    <p>[Bio Here]</p>
        <div class='image-right'> <!-- float: right; margin-left: 18px;-->
            <img src = '' class = 'profilePic'>
        </div>
    </section>
    <section class = 'info'>
        <section class = 'name'> 
        <p>Aaron</p>
        </section>
        <p>For this project, I contributed primarily to the design
             aspects, as I created the mood board using ideas we discussed. I
              also wrote the CSS for the ‘Goals’ pages and ensured that all
               other pages were cohesive. I coded the HTML for the ‘Our Info’ 
               page. I was well suited to design as I took media as part of my
                A levels. For organisation, I planned many of the meetings and 
                created a Gantt chart.</p>
        <div class='image-right'>
            <img src = '' class = 'profilePic'>
        </div>
    </section>
    <section class = 'info'>
        <section class = 'name'> 
            <p>Harley</p>
            </section>
        <p>[Bio Here]</p>
        <div class='image-right'>
            <img src = '' class = 'profilePic'>
        </div>
    </section>
    <section class = 'info'>
        <section class = 'name'> 
            <p>Sophie</p>
            </section>
        <p>[Bio Here]</p>
        <div class='image-right'>
            <img src = '' class = 'profilePic'>
        </div>
    </section>
    <br>
    <section>
        <h3>Who Did What:</h3>
        <table>
            <tr> 
                <th>Pages</th>
                <th>Html</th>
                <th>CSS</th>
                <th>JS/NodeJS</th>
            </tr>
            <tr>
                <td>Home</td>
                <td>Sophie</td>
                <td>Sophie</td>
                <td>Harley</td>
            </tr>
            <tr>
                <td>Zero Hunger</td>
                <td>Sylvain</td>
                <td>Aaron</td>
                <td></td>
            </tr>
            <tr>
                <td>Climate Action</td>
                <td>Sylvain</td>
                <td>Aaron</td>
                <td></td>
            </tr>
            <tr>
                <td>Sustainable Cities</td>
                <td>Sylvain</td>
                <td>Aaron</td>
                <td></td>
            </tr>
            <tr>
                <td>Sign Up</td>
                <td>Harley</td>
                <td>Harley</td>
                <td>Harley</td>
            </tr>
            <tr>
                <td>About Us</td>
                <td>Aaron</td>
                <td>Sophie</td>
                <td></td>
            </tr>
            <tr>
                <td>FAQ</td>
                <td>Sylvain</td>
                <td>Sylvain</td>
                <td>Sophie</td>
            </tr>
            <tr>
                <td id = 'general'>General</td> <!--should be underlined-->
                <td>Sophie</td>
                <td>Aaron</td>
                <td>Harley</td>
            </tr>
            </table>
    </section>
</body>
<%- include("includes/footer.ejs") %> 
