h1{
    font-family: Trebuchet MS, sans-serif;
    font-size: 45px;
    padding-bottom: 1%;
}


#articles{
    padding-top: 1%;
    max-width: 49%;
    
    border-radius: 8px;
    background-color: #95d5b2;
    float: left;    
    padding: 1%;
    margin-left:0.5%;
}

img{
    float: right;
    max-width: 49%;
    padding-right: 1%;
    border-radius: 8px
}


#whatIs{
    background-color: #95d5b2;
    border-radius: 8px;
    padding-top: 1%;
    padding-bottom: 1%;
    float: left;
    max-width: 95%;
    margin-left:2.5%;
    margin-right:2.5%;
    margin-bottom:2.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;

}