h1{
    font-family: Trebuchet MS, sans-serif;
    font-size: 45px;
    padding: 1%;
    margin: 1.5%;
    font-weight: bolder;
}

.headingQuestion{
    border-radius: 8px;
    background-color: #EEDBBE;
    max-width:95%;
    margin-left:2.5%;
    margin-right:2.5%;
    margin-bottom:0;
    padding:1.25%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
} 

#whatIs{
    background-color: white;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding:2%;
    padding-top: 0.5%;
    float: left;
    max-width: 95%;
    margin-left:2.5%;
    margin-right:2.5%;
    margin-bottom: 1.5%;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

#articleContainer{
    background-color: #95d5b2;
    float: left;
    border-radius: 16px;
    padding: 0.5%;
    max-width: 46.5%;
    margin-left: 2.5%;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

.articles{
    font-family: Verdana, sans-serif;
    padding-top: 1%;
    max-width: 98%;
    border-radius: 8px;
    background-color: white;
    float: left;    
    padding: 2%;
    margin:2%;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}
.article h3{
    padding:1.5%;
}

img{
    float: right;
    max-width: 46.5%;
    margin-right: 1%;
    border-radius: 8px;
    margin-right:2.5%; 
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    border-color: #EEDBBE;
    border-style:solid;
    border-width: 5;
}

#quote{
    max-width: 90%;
    margin: 5%;
    margin-top: 0.5%;
    text-align: center;


}

#quote p{
    text-align:right;
}

#quote q{
    text-align:center;
    font-style: italic;
}


@media only screen and (max-width: 900px) {
 .articles{
    float : none;
    max-width: 95%;
    margin: 2.5%;
 }

#articleContainer{
    float:none;
 max-width: 93%;
 margin:2%;
 padding-top: 1%;
}

 img{
    float : none;
    margin-left:10%;
    max-width: 80%;
    border-radius: 12px;
 }
}