#mainPage * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#mainPage {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.light-mode #mainPage {
    background-color: #f0f0f0;
    color: #333;
}

.dark-mode #mainPage {
    background-color: #333;
    color: #f9f9f9;
}

#mainPage .form-container {
    transform: translate(0, -10%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.dark-mode #mainPage .form-container {
    background-color: #444;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#mainPage form h2 {
    text-align: center;
    margin-bottom: 20px;
}

#mainPage .input-group {
    margin-bottom: 15px;
}

#mainPage .input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#mainPage .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.dark-mode #mainPage .input-group input {
    background-color: #555;
    color: white;
    border: 1px solid #777;
}

#mainPage .input-group button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dark-mode #mainPage .input-group button {
    background-color: #007bff;
}

.dark-mode #mainPage .input-group button:hover {
    background-color: #0056b3;
}

#mainPage .forgot-password {
    display: block;
    margin: 0 auto;
    font-size: 12px;
    opacity: 0.6;
    text-align: center;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.dark-mode #mainPage .forgot-password {
    background-color: #555;
    color: #f9f9f9;
}

.dark-mode #mainPage .forgot-password:hover {
    opacity: 0.8;
}

#mainPage #aboutPage #homeButt {
    text-decoration: underline 2px;
    text-underline-offset: 9px;
}

.dark-mode #mainPage .loading-overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

.dark-mode #mainPage .spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #f9f9f9;
}

.dark-mode #mainPage {
    background-color: var(--background-colour);
}

#mainPage .content {
    padding: 20px;
}