body {
    font-family: sans-serif, Arial;
    color: #3F2860;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
}

header{
    width: 100%;
    padding-left: 6px;
    padding-right: 6px;
    color: #000000;
    border: 3px solid #bab0a0;
    background: #bab0a0;
    margin: -10px;
}

#title{
    width: 50%;
    padding: 10px;
    color: #000000;
    border: 3px solid #bab0a0;
    background: #bab0a0;
    height: 50px;
    padding-top: 50px;
    font-family: Verdana;
    font-size: 37px;
}

#navigate{
    list-style-type: none;
    text-align: center;
    font-family: Verdana;
    margin-top: 5px;
    margin-bottom: 5px;
}

nav ul li{
    display: inline;
    padding-left: 20px;
    padding-right: 20px;   
}

nav ul li:hover{
    background-color: #ffffff;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

nav ul li a{
    text-decoration: none;
    padding: 5px;
    height: 100px;
    color: #000000;
}

#logo{
    max-width: 6%;
    float: inline-start;
    padding: 25px;
}

nav{
    color: #000000;
    border: 3px solid #bab0a0;
    background: #bab0a0;
    text-align: center;
    width: 100.65%;
    margin: -10px;
}

#settings{
    border-radius: 8px;
    font-family: Verdana;
    position: absolute;
    top: 35px;
    right: 30px;
    padding: 10px;
    font-size: 15px;
}

#searchImg{
    max-width: 25px;
    padding-top: 4px;
    padding-bottom: 3.5px;
    padding-left: 1px;
    padding-right: 1px;
}

#searchButt{
    margin-left: -6px;
    position: absolute;
    top: 105px;
    right: 30px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

#searchText{
    position: absolute;
    top: 105px;
    right: 30px;
    font-size: 14px;
    font-family: Verdana;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 150px;
    padding-left: 10px;
    border-radius: 8px;
}

#homeButt{
    text-decoration: underline 2px;
    text-underline-offset: 9px;
}

#secret{
    color: #bab0a0;
}

#copyright{
    border: #3F2860 solid 3px;
    background: #3F2860;
    margin: -8px;
    padding-left: 75px;
    color: #ffffff;
    font-size: 11px;
    font-family: Verdana;
    font-weight: 100;
    padding-bottom: 30px;
    padding-top: 30px;
}

#logoBottom{
    max-width: 50px;
    float: inline-start;
    padding-left: 10px;
    padding-top: 15px;
}

#TandP{
    padding-left: 75px;
    color: #ffffff;
    font-size: 11px;
    font-family: Verdana;
    font-weight: 100;
    errrrorrrrrr continue this
}