h1{
    font-family: Trebuchet MS, sans-serif;
    font-size: 45px;
    padding: 1%;
    margin: 1.5%;
    margin-bottom: 2.5%; 
    font-weight: bolder;
    text-align: center;
    color: black;
}

a{
    color:#6a994e;
}

.headingQuestion{
    border-radius: 8px;
    background-color: #EEDBBE;
    max-width:95%;
    margin-left:2.5%;
    margin-right:2.5%;
    margin-bottom:0.1%;
    padding:1.25%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
} 

#whatIs{
    background-color: white;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding:2%;
    padding-top: 0.5%;
    float: left;
    max-width: 95%;
    margin-left:2.5%;
    margin-right:2.5%;
    margin-bottom: 2.5%;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

.articleContainer1{
    background-color: #95d5b2;
    float: right;
    border-radius: 16px;
    padding: 0.5%;
    max-width: 46.5%;
    margin-right: 2.5%;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    
}
.articleContainer2{
    background-color: #95d5b2;
    border-radius: 16px;
    float: none;
    padding: 0.5%;
    height: 100%;
    width: 100%;
    margin-right: 2.5%;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    
}

.articles{
    font-family: Verdana, sans-serif;
    padding-top: 1%;
    max-width: 98%;
    border-radius: 8px;
    background-color: white;
    text-align: left;
    float: left;    
    padding: 2%;
    margin:2.5%;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    
}
.articles h2{
    padding:0.5%;
    font-size:22.5px;
}

img{
    float: right;
    max-width: 46.5%;
    border-radius: 8px;
    margin-right:2.5%;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    border-color: #EEDBBE;
    border-style:solid;
    border-width: 5;
}

#upperPage{
    background-color: white;
    border-radius: 8px;
    margin: 1%;
    height: auto;
    width: 80%;
    margin-left: 10%;
    margin-bottom:0;
    padding: 5%;
    padding-top:2.5%;
    padding-bottom: 1%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 -8px 8px rgba(0, 0, 0, 0.1);
}

#midPage{
    background-color: white;
    margin-right: 1%;
    margin-top:0;
    height: auto;
    width: 80%;
    margin-left: 10%;
    margin-bottom:0;
    padding: 5%;
    padding-bottom: 1%;
    padding-top: 1%;
    box-shadow: 0 -8px -8px rgba(0, 0, 0, 0.1);
}
#lowerPage{
    border-radius: 8px;
    width: 80%;
    margin-left:10%;
    margin-top:0;
    margin-bottom:2.5%;
    padding:5%;
    padding-bottom: 3%;
    padding-top:0.5%;
    background-color: white;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    z-index: -1;
    
}
.dark-mode #midPage{
   background-color: #131721;
}
.dark-mode .articles{
    background-color: #383c4c;
}
.dark-mode #whatIs{
    background-color: #383c4c;
}
.dark-mode .headingQuestion{
    color: #0D1017;
    background-color: #6a994e;
}
.dark-mode .articleContainer1{
    background-color: #6a994e;
}
.dark-mode .articleContainer2{
    background-color: #6a994e;
}
.dark-mode #container{
    background-color: #242936;
}
.dark-mode h1{
    color: #95d5b2;
}
.dark-mode #lowerPage {
    background-color:#131721;
}


@media only screen and (max-width: 900px) {
 .articles{
    float : none;
    max-width: 95%;
    margin: 2.5%;
 }
 
 #quote{
    
    margin-left: 10%;
    padding-top: 0;
 }

.articleContainer1{
    float:none;
    max-width: 95%;
    margin-left:2.5%;
    padding-top: 1%;
    height: auto;
}
.articleContainer2{
    float:none;
    max-width: 95%;
    margin:2.5%;
    padding-top: 1%;
    height: auto;
}

 img{
    float : none;
    margin:2.5%;
    margin-top: 5%;
    margin-left:12.5%;
    max-width: 75%;
    border-radius: 12px;
 }


 #midPage{
    height:auto;
    padding-top: 2.5%;
 }
}
