h1{
    font-family:'Trebuchet MS', verdana, sans-serif;
    font-style: bold;
}


body {
    background-color: #95d5b2;
    font-family: verdana, sans-serif;
    color: black;
}


.info{
    background-color: white;
    border-radius: 8px;
    border-width: 3px;
    padding: 1%;
    margin-top: 0.75%;
    margin-bottom: 0.75%;
    float: right;
    /* width: 48%; */
}

.info p {
    background-color: white;
}

#quote{
    font-style: italic;
    color: #95d5b2;
}

img{
    width: 45%;
    float: left;
}