<%- include("../includes/header.ejs") %>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, intial-scale=1">
        <title>Climate Action</title>
        <meta name=" author" content=" Sylvain Bayonne, Sophie Rawlinson, Harley Hughes, Aaron Grant ">
        <meta name="keywords" content="Enviroment, hunger, sustainable cites">
        <link rel="stylesheet" href="/css/climate-change.css">
    </head>
    <body>
        <div id="mainPage">
                <section>
                    <h1>Climate Action</h1>
                    <hr class="solid">
                    <article >
                        <h3 class = "headingQuestion">What Is Climate Action?</h3>
                        <p id="whatIs">Lorem ipsum dolor sit amet. Qui ratione dolorem et velit ullam est delectus quod in cumque velit. Est laborum alias est perspiciatis accusantium qui esse quam aut iusto blanditiis ad autem voluptatem aut libero error et facilis esse. In atque eaque qui vitae omnis est quasi nostrum sed corporis eaque. Consequuntur modi hic illo beatae ut obcaecati praesentium.
                        Non magnam harum ut aliquid quam nam eligendi veniam. Ut totam sint id distinctio mollitia vel aperiam quia. Quo quia iste id aliquam natus aut optio aliquid sed esse praesentium a sunt voluptatem ad voluptatem quos ut eligendi laboriosam! </p>
                    </article>
                    <br>
                    <section id="mainContent">
                        <article id="image">
                            <img src="/assets/globe.jpg" alt="">
                        </article >
                    </section>
                        <article id = "articleContainer">
                            <article class="articles">
                                <h3>Why Is This Important?</h3>
                                <p>Lorem ipsum dolor sit amet. Aut esse voluptatem sit voluptas dolorem ea <a href = "/goals/climate-change">rerum placeat</a> ea quod incidunt et quod magni. Aut sapiente cumque et eveniet labore ut sunt fugiat quo libero sint et vitae quae nam aperiam praesentium. Ut dolorum totam est impedit enim ea veniam temporibus eum deserunt omnis sit beatae perferendis. </p>
                            </article>
                            <article class="articles">
                                <h3>What Can You Do To Help?</h3>
                                <p>Lorem ipsum dolor sit amet. Aut esse voluptatem sit voluptas dolorem ea rerum placeat ea quod incidunt et quod magni.</p>
                            </article>
                        </article>
                    </section>
                </section>
                <br>
        </div>
        
        <section id = "quote">
            <q>Ut dolorum totam est impedit enim ea veniam temporibus eum deserunt omnis</q>
            <br>
            <p> - Person Name &nbsp;&nbsp;</p>
        </section>
        <footer> 
        </footer>
    </body>

</html>
<%- include("../includes/footer.ejs") %>