<%- include("includes/header.ejs") %>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, intial-scale=1">
        <title>Zero Hunger</title>
        <meta name=" author" content=" Sylvain Bayonne, Sophie Rawlinson, Harley Hughes, Aaron Grant ">
        <meta name="keywords" content="Enviroment, hunger, sustainable cites">
        <link rel="stylesheet" href="hunger.css">
    </head>
    <body>
        <main>
            <article>
                <h2>Googly moogly</h2>
                <p>
                    
                </p>
            </article>
        </main>
        <footer> 

        </footer>
    </body>

</html>
<%- include("includes/footer.ejs") %>