<%- include("../includes/header.ejs") %>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, intial-scale=1">
        <title>Zero Hunger</title>
        <meta name=" author" content=" Sylvain Bayonne, Sophie Rawlinson, Harley Hughes, Aaron Grant ">
        <meta name="keywords" content="Enviroment, hunger, sustainable cites">
        <link rel="stylesheet" href="/css/susCites.css">
    </head>
    <body>
        
        <div id="mainPage">
            <h1>Sustainable Cites and Communites</h1>
        <hr class = "solid">
            <section>
                <article>
                    <h3 class = "headingQuestion" >What are sustainable cites and communites? </h3>
                    <p id="whatIs">
                        Cities represent the future of global living. The world s population reached 8 billion on 2022 over half living in urban areas. This figure is only expected to rise, with 70 per cent of people expected to live in cities by 2050. Approximately 1.1 billion people currently live in slums or slum-like conditions in cities, with 2 billion more expected in the next 30 years.

                        However many of these cities are not ready for this rapid urbanisation, and it outpaces the development of housing, infrastructure and services, which led to a rise in slums or slum-like conditions.
                        
                        Urban sprawl, air pollution and limited open public spaces persist in cities.
                        
                        Good progress has been made since the implementation of the SDGs in 2015, and now the number of countries with national and local disaster risk reduction strategies has doubled. But issues still remain and in 2022, only half of the urban population had convenient access to public transport.  
                    </p>
                </article>
                <section id="mainContent">
                    <article id="image">
                        <img src="/assets/sustain.jpg.webp" alt="A city surrounded by greenery, and sustainable electricity generators.">
                    </article >
                </section>

                <article id = "articleContainer" > 
                    <article class="articles">
                        <h2> what is wrong with them?</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus amet, blanditiis, corporis, quos velit ipsam eveniet ea facere optio eius deserunt. Esse ad quidem doloribus deserunt repellat illo dolorem dolores?</p>
                    </article>
                    <article class="articles">
                        <h2>how you can help?</h2>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, quibusdam veritatis corporis dolorem eos impedit quia obcaecati ipsum perferendis incidunt necessitatibus illum, fugiat perspiciatis excepturi quod quo nesciunt pariatur quis.</p>
                    </article>

                    <article class="articles">
                        <h2>what the downsides could be if left to happen?</h2>
                        <p> 
                        The cost of poorly planned urbanization can be seen in some of the huge slums, tangled traffic, greenhouse gas emissions and sprawling suburbs all over the world. By choosing to act sustainably we choose to build cities where all citizens live a decent quality of life, and form a part of the city’s productive dynamic, creating shared prosperity and social stability without harming the environment.
                        </p>
                    </article>
                </article>
            </section>

        </div>
        <footer> 

        </footer>
    </body>

</html>
<%- include("../includes/footer.ejs") %>


