<%- include("../includes/header.ejs") %>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, intial-scale=1">
        <title>Zero Hunger</title>
        <meta name=" author" content=" Sylvain Bayonne, Sophie Rawlinson, Harley Hughes, Aaron Grant ">
        <meta name="keywords" content="Enviroment, hunger, sustainable cites">
        <link rel="stylesheet" href="/css/zero-hunger.css">
    </head>
    <body>
        <h1>Zero Hunger</h1>
        <div id="mainPage">
            <section> 
                <article class="info" >
                    <h2>What is hunger ? </h2>
                    <p>
                        The persistent surge in hunger and food insecurity, fueled by a complex interplay of factors, demands immediate attention and coordinated global efforts to alleviate this critical humanitarian challenge. Extreme hunger and malnutrition remains a barrier to sustainable development and creates a trap from which people cannot easily escape. Hunger and malnutrition mean less productive individuals, who are more prone to disease and thus often unable to earn more and improve their livelihoods. 2 billion people in the world do not have reg- ular access to safe, nutritious and sufficient food. In 2022, 148 million children had stunted growth and 45 million children under the age of 5 were affected by wasting.
                    </p>
                </article>
                
                <article class="info">
                    <h2>why is this your problem too ?</h2>
                    <p>We all want our families to have enough food to eat what is safe and nutritious. A world with zero hunger can positively impact our economies, health, education, equality and social development. It is a key piece of building a better future for everyone. Additionally, with hunger limiting human development, we will not be able to achieve the other sustainable development goals such as education, health and gender equality.</p> 

                </article>

                <article class="info">
                    <h2> How to acheive zero hunger?</h2>
                    <p> 
                        Food security requires a multi-dimensional approach  from social protection to safeguard safe and nutritious food especially for children to transforming food systems to achieve a more inclusive and sustainable world. There will need to be investments in rural and urban areas and in social protection so poor people have access to food and can improve their livelihoods.
                    </p>
                </article>

                <article class="info">
                    <h2> How can you help?</h2>
                    <p> 
                        You can make changes in your own life—at home, at work and in the community—by supporting local farmers or markets and making sustainable food choices, supporting good nutrition for all, and fighting food waste. You can also use your power as a consumer and voter, demanding businesses and governments make the choices and changes that will make Zero Hunger a reality. Join the conversation, whether on social media platforms or in your local communities.
                    </p>
                </article>
            </section>      
        </div>
        <footer>

        </footer>
    </body>

</html>
<%- include("../includes/footer.ejs") %>


    
    
 